In [1]:
'Arpit Agarwal'

'Arpit Agarwal'

In [4]:
name = 'Arpit'
x = 10
y = 3
z =3.14

In [3]:
del name

## operators
- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity Operators
- Membership Operators

In [43]:
x + y

300

In [5]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)  #float division
print(x//y) # integer division
print(x%y)  # remainder
print(x**y)  #exponential (power)

13
7
30
3.3333333333333335
3
1
1000

In [6]:
a = x+ y #assignment
a+=1 #a= a+1
a-=1 #a=a-1
a*=2 #a=a*2
a/=5 # a= a/5
print(a)

5.2

In [7]:
#comparison operation
print(x > y)
print(x < y)
print (x >= y)
print(x<= y)
print(x==y)
print(x!=y)

True
False
True
False
False
True

In [5]:
x < y or y < 10

True

In [6]:
not x > y

False

In [8]:
fruits = ['Apple', 'Banana', 'Cherry']
print('Apple' in fruits)
print('Banana' in fruits)
print('Pomegranate' in fruits)
print ('apple' in fruits)

True
True
False
False

In [9]:
f = ['Apple', 'Banana', 'Cherry']

In [10]:
fruits == f # value equality

True

In [11]:
fruits is f # reference equality (memory address)

False

In [12]:
x = 10
y= 10
# dont check is operator with integer
print(x==y)
print(x is y)

True
True

In [15]:
# - I/o

In [14]:
name = input("Enter your name:")

In [16]:
city = input("enter your city:")
age = input("enter your age")
print(name,city,age)

Arpit Lucknow 22

In [18]:
x = 10
print(type(x))
# convert x to float 
x = float(x) # convert x to float and assign it to x 
print( x , type(x))
# convert x to string
x = str(x)
print(x, type(x))
# convert to bool 
x = bool(x)
print(x , type(x))
x= str(x)
print(x , type(x))
# x = int(x) #ye nhi hoga
print(x, type(x))

<class 'int'>
10.0 <class 'float'>
10.0 <class 'str'>
True <class 'bool'>
True <class 'str'>

In [19]:
x = int(input('Enter a number for A:'))
y = int(input('Enter a number for B:'))
print(x +y)

300

In [22]:
print('Name:',name,'Age:',age,'City:',city)

Name: Arpit Age: 22 City: Lucknow

In [23]:
print('Name:', name)
print('Age:', age)
print('City:', city)

Name: Arpit
Age: 22
City: Lucknow

In [24]:
print(name , age , city , sep='\n')

Arpit
22
Lucknow

In [26]:
print(x, end=' ')
print(y)

100 200

In [28]:
print(f'I live in {city}')

I live in Lucknow

In [30]:
print(f'x={x}, y ={y}')
print(f'x**y => {x**y}')
print(f'x + y => {x+y}')

x=100, y =200
x**y => 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
x + y => 300

In [32]:
print(f'{name} {len(name)}')
print(f'{city} {len(city)}')

Arpit 5
Lucknow 7

In [33]:
print(f'{name:15}{len(name)}')
print(f'{city:15}{len(city)}')

Arpit          5
Lucknow        7