In [1]:
raju=[56,90,34,34,56]

raju_dict={
    'English' : 56,
    'Hindi' : 90,
    'Maths' : 34,
    'Chemistry' : 34,
    "Evs" : 56
}

print(raju_dict)

{'English': 56, 'Hindi': 90, 'Maths': 34, 'Chemistry': 34, 'Evs': 56}

In [3]:
company={
    'emp001' : {
        'name' : "Amar Kumar",
        'designation' : 'Assistant III',
        'salary' : 32000,
    },
    'emp002' : {
        'name' : 'Ranu Singh',
        'designation' : 'Staff Officer',
        'salary' : 89000
    },
    'total_emp' : 2,
    'department' : 'Accounts' ,
    'vacancy' : ['clerk','manager','assistant I']
}

In [5]:
company['name'] = 'Acme inc.' # adding a key and value to dict
print(company)

{'emp001': {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}, 'emp002': {'name': 'Ranu Singh', 'designation': 'Staff Officer', 'salary': 89000}, 'total_emp': 2, 'department': 'Accounts', 'vacancy': ['clerk', 'manager', 'assistant I'], 'name': 'Acme inc.'}

In [6]:
company['total_emp'] = 3
company['emp003'] = {
    'name' : 'Ajay verma',
    'designation' : 'clerk',
    'salary' : 45000
}

In [13]:
# company['emp002']
company.get('website')

In [15]:
if 'website' in company:
    print('website exists in dict')

In [16]:
print(company.keys())
print(company.values())

dict_keys(['emp001', 'emp002', 'total_emp', 'department', 'vacancy', 'name', 'emp003'])
dict_values([{'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}, {'name': 'Ranu Singh', 'designation': 'Staff Officer', 'salary': 89000}, 3, 'Accounts', ['clerk', 'manager', 'assistant I'], 'Acme inc.', {'name': 'Ajay verma', 'designation': 'clerk', 'salary': 45000}])

In [17]:
print(company.items())

dict_items([('emp001', {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}), ('emp002', {'name': 'Ranu Singh', 'designation': 'Staff Officer', 'salary': 89000}), ('total_emp', 3), ('department', 'Accounts'), ('vacancy', ['clerk', 'manager', 'assistant I']), ('name', 'Acme inc.'), ('emp003', {'name': 'Ajay verma', 'designation': 'clerk', 'salary': 45000})])

In [20]:
for i in company:
    print(company[i])

{'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}
{'name': 'Ranu Singh', 'designation': 'Staff Officer', 'salary': 89000}
3
Accounts
['clerk', 'manager', 'assistant I']
Acme inc.
{'name': 'Ajay verma', 'designation': 'clerk', 'salary': 45000}

In [25]:
for k, v in company.items():
    if isinstance(v,dict):
        print(k)
        for key,value in v.items():
            print("--->",key,value)
    else:
        print(k,v)

emp001
---> name Amar Kumar
---> designation Assistant III
---> salary 32000
emp002
---> name Ranu Singh
---> designation Staff Officer
---> salary 89000
total_emp 3
department Accounts
vacancy ['clerk', 'manager', 'assistant I']
name Acme inc.
emp003
---> name Ajay verma
---> designation clerk
---> salary 45000

In [26]:
# wap to create a dictionary which takes user input for the item name and its price,the user can enter unlimited amount of items.

TypeError: 'dict' object is not callable